body {
   margin:0;
    background-color: #b6b8d6;
}
.top{
    background-color: #b6b8d6;
    font-family: 'Bungee Shade', serif;
    font-size: 20px;
    color: #6f58c9;
    text-align: center;
    padding: 100px 100px 0px 100px;
}
.middle {
    padding: 50px;
    background-color: #b6b8d6;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #6f58c9;


}
.bottom {
    padding: 50px;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    background-color: #b6b8d6;
    color: #6f58c9;
    text-align: center;
    background:radial-gradient(#b6b8d6,#6f58c9);

}

a:link {
    text-decoration: none;
    color: mediumpurple;
}
a:hover {
    color: black;

}


hr {
    border-top: 5px dotted #070707;
    border-bottom: none;
    width: 25%;

}

.contactButton {
    background-color: #6f58c9;
    color: white;
    padding: 10px 20px;
}

.firstFlower {
    position: absolute;
    right: 25px;
    top: 10px;
    border: 2px dotted #6f58c9;
    border-radius: 50%;
}

.secondFlower {
    position: absolute;
    left: 25px;
    top: 10px;
    transform: scaleX(-1);
    border: 2px dotted #6f58c9;
    border-radius: 50%;

}
/*
.thirdFlower {
    position: absolute;
    right: 25px;
    bottom: 10px;
    border: 2px dotted #6f58c9;
    border-radius: 50%;

}

.fourthFlower {
    position: absolute;
    left: 25px;
    bottom: 10px;
    transform: scaleX(-1);
    border: 2px dotted #6f58c9;
    border-radius: 50%;

}
*/
.head {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.languages {
    column-count:  2;
}
.languages  img {
    float: contour;
}
.languages  li{
    text-align:left;
}

.experience {
    column-count: 2;
    padding-top: 30px;
}
.experience dl {
    width: 100%;
    /*: hidden;*/
    padding: 0;
    margin: 0;
}
.experience dt {
    float: left;
    width: 50%;
    margin: 0;
}
.experience dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: left;


}
.experience img {
    float: left;
    padding-bottom: 50px;
    padding-left: 200px;
}
.skills {
    column-count: 2;
    padding-top: 30px;
}
.skills dl {
    width: 100%;
    padding: 0;
    margin: 0;
}
.skills dt {
    float: left;
    width: 50%;
    margin: 0;
    text-align: left;
}
.skills dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: left;


}
.skills img {
    float: left;
    padding-left: 100px;

}

.contact h1{
    font-family: 'Bungee Shade', serif;
    text-align: center;
}

.contact p{
    font-family: 'Merriweather', serif;
    color: black;
    text-align: center;
}

.boxes {
    column-count: 1;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.boxes label {
    display: inline-block;
    width: 140px;
    text-align: right;

}
.boxes input {
    background-color: lavenderblush;
    border: 2px solid #6f58c9;
}

.boxes textarea{
    background-color: lavenderblush;
    border: 2px solid #6f58c9;
}





